name: Java Build and Test re-usable work flows
on:
 workflow_call:
   inputs:
     java_version:
      required: true
      type: string

     build-tool:
      required: false
      type: string
      default: maven
   secrets:
    SONAR_TOKEN:
     required: false
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout source
        uses: actions/checkout@v4

      - name: Install Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ inputs.java_version }}
      - name: Build and test
        run: |
          if [ "${{ inputs.build-tool }}" = "maven" ]; then
            mvn clean verify
          else
            gradle build
          fi
